@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-saffron-50: #fff8f1;
  --color-saffron-100: #ffecd9;
  --color-saffron-200: #ffd4b0;
  --color-saffron-300: #ffb580;
  --color-saffron-400: #ff8e45;
  --color-saffron-500: #ff6f14;
  --color-saffron-600: #f05506;
  --color-saffron-700: #c74007;
  --color-saffron-800: #9e320d;
  --color-saffron-900: #7e2a0e;
  --color-saffron-950: #441305;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
